/* brand.module.css style for the brand component */

.logoBrand {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.logo {
    color: rgb(255, 0, 98);
    rotate: 120deg;
    /*font-size: 1rem;*/
    margin: 0 1px; /* Ajuster l'espace autour de l'icône */
}
